/*********************************************** 
    Grid system
***********************************************/
/* Grid
***********************************************/
.grid,
.grid-fluid {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
}

.grid-fluid {
  max-width: 1280px;
}

@media (min-width: 768px) {
  .grid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .grid {
    width: 1120px;
  }
}
@media (min-width: 1440px) {
  .grid {
    width: 1280px;
  }
}
/* Grid rows
***********************************************/
.row {
  margin-right: -12px;
  margin-left: -12px;
}

.row-collapse {
  margin-left: 0;
  margin-right: 0;
}
.row-collapse > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.row-gutter-0 {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-0 > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 0;
}
.row-gutter-0 > [class*='col-'] + [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.row-gutter-0 > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 0;
}

.row-gutter-3u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-3u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 8px;
}
.row-gutter-3u > [class*='col-'] + [class*='col-'] {
  padding-left: 4px;
  padding-right: 4px;
}
.row-gutter-3u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.row-gutter-6u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-6u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 16px;
}
.row-gutter-6u > [class*='col-'] + [class*='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}
.row-gutter-6u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 16px;
}

.row-gutter-9u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-9u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 24px;
}
.row-gutter-9u > [class*='col-'] + [class*='col-'] {
  padding-left: 12px;
  padding-right: 12px;
}
.row-gutter-9u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 24px;
}

.row-gutter-12u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-12u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 32px;
}
.row-gutter-12u > [class*='col-'] + [class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}
.row-gutter-12u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 32px;
}

.row-gutter-15u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-15u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 40px;
}
.row-gutter-15u > [class*='col-'] + [class*='col-'] {
  padding-left: 20px;
  padding-right: 20px;
}
.row-gutter-15u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 40px;
}

.row-gutter-18u {
  margin-left: 0;
  margin-right: 0;
}
.row-gutter-18u > [class*='col-']:first-child {
  padding-left: 0;
  padding-right: 48px;
}
.row-gutter-18u > [class*='col-'] + [class*='col-'] {
  padding-left: 24px;
  padding-right: 24px;
}
.row-gutter-18u > [class*='col-']:last-child {
  padding-right: 0;
  padding-left: 48px;
}

.row-reset-gutter {
  margin-right: -12px;
  margin-left: -12px;
}
.row-reset-gutter > [class*='col-']:first-child,
.row-reset-gutter > [class*='col-'] + [class*='col-'],
.row-reset-gutter > [class*='col-']:last-child {
  padding-right: 12px;
  padding-left: 12px;
}

.row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
  margin-top: 0;
}

.row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
  margin-top: 12px;
}

.row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
  margin-top: 24px;
}

.row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
  margin-top: 36px;
}

.row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
  margin-top: 48px;
}

.row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
  margin-top: 60px;
}

.row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
  margin-top: 72px;
}

@media (min-width: 480px) {
  .xs_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .xs_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .xs_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .xs_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .xs_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 4px;
    padding-right: 4px;
  }
  .xs_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 8px;
  }

  .xs_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 16px;
  }
  .xs_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 16px;
  }

  .xs_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 24px;
  }
  .xs_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }
  .xs_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 24px;
  }

  .xs_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 32px;
  }
  .xs_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .xs_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 32px;
  }

  .xs_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .xs_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .xs_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .xs_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .xs_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 48px;
  }
  .xs_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }
  .xs_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 48px;
  }

  .xs_row-reset-gutter {
    margin-right: -12px;
    margin-left: -12px;
  }
  .xs_row-reset-gutter > [class*='col-']:first-child,
  .xs_row-reset-gutter > [class*='col-'] + [class*='col-'],
  .xs_row-reset-gutter > [class*='col-']:last-child {
    padding-right: 12px;
    padding-left: 12px;
  }

  .xs_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .xs_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 12px;
  }

  .xs_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 24px;
  }

  .xs_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 36px;
  }

  .xs_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 48px;
  }

  .xs_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .xs_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 72px;
  }
}
@media (min-width: 768px) {
  .sm_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .sm_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .sm_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .sm_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .sm_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 4px;
    padding-right: 4px;
  }
  .sm_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 8px;
  }

  .sm_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 16px;
  }
  .sm_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .sm_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 16px;
  }

  .sm_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 24px;
  }
  .sm_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }
  .sm_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 24px;
  }

  .sm_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 32px;
  }
  .sm_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sm_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 32px;
  }

  .sm_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .sm_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .sm_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .sm_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 48px;
  }
  .sm_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sm_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 48px;
  }

  .sm_row-reset-gutter {
    margin-right: -12px;
    margin-left: -12px;
  }
  .sm_row-reset-gutter > [class*='col-']:first-child,
  .sm_row-reset-gutter > [class*='col-'] + [class*='col-'],
  .sm_row-reset-gutter > [class*='col-']:last-child {
    padding-right: 12px;
    padding-left: 12px;
  }

  .sm_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .sm_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 12px;
  }

  .sm_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 24px;
  }

  .sm_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 36px;
  }

  .sm_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 48px;
  }

  .sm_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .sm_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 72px;
  }
}
@media (min-width: 992px) {
  .md_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .md_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .md_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .md_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .md_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .md_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 4px;
    padding-right: 4px;
  }
  .md_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 8px;
  }

  .md_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 16px;
  }
  .md_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .md_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 16px;
  }

  .md_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 24px;
  }
  .md_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }
  .md_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 24px;
  }

  .md_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 32px;
  }
  .md_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .md_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 32px;
  }

  .md_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .md_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .md_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .md_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .md_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 48px;
  }
  .md_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }
  .md_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 48px;
  }

  .md_row-reset-gutter {
    margin-right: -12px;
    margin-left: -12px;
  }
  .md_row-reset-gutter > [class*='col-']:first-child,
  .md_row-reset-gutter > [class*='col-'] + [class*='col-'],
  .md_row-reset-gutter > [class*='col-']:last-child {
    padding-right: 12px;
    padding-left: 12px;
  }

  .md_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .md_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 12px;
  }

  .md_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 24px;
  }

  .md_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 36px;
  }

  .md_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 48px;
  }

  .md_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .md_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 72px;
  }
}
@media (min-width: 1200px) {
  .lg_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .lg_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .lg_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .lg_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .lg_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 4px;
    padding-right: 4px;
  }
  .lg_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 8px;
  }

  .lg_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 16px;
  }
  .lg_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .lg_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 16px;
  }

  .lg_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 24px;
  }
  .lg_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }
  .lg_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 24px;
  }

  .lg_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 32px;
  }
  .lg_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .lg_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 32px;
  }

  .lg_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .lg_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .lg_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .lg_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 48px;
  }
  .lg_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }
  .lg_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 48px;
  }

  .lg_row-reset-gutter {
    margin-right: -12px;
    margin-left: -12px;
  }
  .lg_row-reset-gutter > [class*='col-']:first-child,
  .lg_row-reset-gutter > [class*='col-'] + [class*='col-'],
  .lg_row-reset-gutter > [class*='col-']:last-child {
    padding-right: 12px;
    padding-left: 12px;
  }

  .lg_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .lg_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 12px;
  }

  .lg_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 24px;
  }

  .lg_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 36px;
  }

  .lg_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 48px;
  }

  .lg_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .lg_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 72px;
  }
}
@media (min-width: 1440px) {
  .xl_row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-collapse > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .xl_row-gutter-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
  .xl_row-gutter-0 > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  .xl_row-gutter-3u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-3u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 8px;
  }
  .xl_row-gutter-3u > [class*='col-'] + [class*='col-'] {
    padding-left: 4px;
    padding-right: 4px;
  }
  .xl_row-gutter-3u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 8px;
  }

  .xl_row-gutter-6u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-6u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 16px;
  }
  .xl_row-gutter-6u > [class*='col-'] + [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xl_row-gutter-6u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 16px;
  }

  .xl_row-gutter-9u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-9u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 24px;
  }
  .xl_row-gutter-9u > [class*='col-'] + [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }
  .xl_row-gutter-9u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 24px;
  }

  .xl_row-gutter-12u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-12u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 32px;
  }
  .xl_row-gutter-12u > [class*='col-'] + [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }
  .xl_row-gutter-12u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 32px;
  }

  .xl_row-gutter-15u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-15u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 40px;
  }
  .xl_row-gutter-15u > [class*='col-'] + [class*='col-'] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .xl_row-gutter-15u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 40px;
  }

  .xl_row-gutter-18u {
    margin-left: 0;
    margin-right: 0;
  }
  .xl_row-gutter-18u > [class*='col-']:first-child {
    padding-left: 0;
    padding-right: 48px;
  }
  .xl_row-gutter-18u > [class*='col-'] + [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }
  .xl_row-gutter-18u > [class*='col-']:last-child {
    padding-right: 0;
    padding-left: 48px;
  }

  .xl_row-reset-gutter {
    margin-right: -12px;
    margin-left: -12px;
  }
  .xl_row-reset-gutter > [class*='col-']:first-child,
  .xl_row-reset-gutter > [class*='col-'] + [class*='col-'],
  .xl_row-reset-gutter > [class*='col-']:last-child {
    padding-right: 12px;
    padding-left: 12px;
  }

  .xl_row-vertical-gutter-0 > [class*='col-'] + [class*='col-'] {
    margin-top: 0;
  }

  .xl_row-vertical-gutter-3u > [class*='col-'] + [class*='col-'] {
    margin-top: 12px;
  }

  .xl_row-vertical-gutter-6u > [class*='col-'] + [class*='col-'] {
    margin-top: 24px;
  }

  .xl_row-vertical-gutter-9u > [class*='col-'] + [class*='col-'] {
    margin-top: 36px;
  }

  .xl_row-vertical-gutter-12u > [class*='col-'] + [class*='col-'] {
    margin-top: 48px;
  }

  .xl_row-vertical-gutter-15u > [class*='col-'] + [class*='col-'] {
    margin-top: 60px;
  }

  .xl_row-vertical-gutter-18u > [class*='col-'] + [class*='col-'] {
    margin-top: 72px;
  }
}
.grid:before,
.grid:after,
.grid-fluid:before,
.grid-fluid:after,
.row:before,
.row:after {
  content: '';
  display: table;
}

.grid:after,
.grid-fluid:after,
.row:after {
  clear: both;
}

/* Rows alignment */
.row-valign-top,
.row-valign-bottom,
.row-valign-middle,
.row-valign-stretch,
.row-centered,
.row-justified {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.row-valign-top > [class*='col-'],
.row-valign-bottom > [class*='col-'],
.row-valign-middle > [class*='col-'],
.row-valign-stretch > [class*='col-'],
.row-centered > [class*='col-'],
.row-justified > [class*='col-'] {
  display: inline-block;
  vertical-align: top;
  float: none;
}
.row-valign-top > [class*='col-'] + [class*='col-'],
.row-valign-bottom > [class*='col-'] + [class*='col-'],
.row-valign-middle > [class*='col-'] + [class*='col-'],
.row-valign-stretch > [class*='col-'] + [class*='col-'],
.row-centered > [class*='col-'] + [class*='col-'],
.row-justified > [class*='col-'] + [class*='col-'] {
  margin-left: -4px;
}
.row-valign-top:before, .row-valign-top:after,
.row-valign-bottom:before,
.row-valign-bottom:after,
.row-valign-middle:before,
.row-valign-middle:after,
.row-valign-stretch:before,
.row-valign-stretch:after,
.row-centered:before,
.row-centered:after,
.row-justified:before,
.row-justified:after {
  display: none;
}

.row-valign-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row-valign-top > [class*='col-'] {
  vertical-align: top;
}

.row-valign-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.row-valign-bottom > [class*='col-'] {
  vertical-align: bottom;
}

.row-valign-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.row-valign-middle > [class*='col-'] {
  vertical-align: middle;
}

.row-valign-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.row-centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.row-justified {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
  line-height: 0;
}
.row-justified:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Grid cols
***********************************************/
/* common cols settings */
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .xs_col-12, .xs_col-11, .xs_col-10, .xs_col-9, .xs_col-8, .xs_col-7, .xs_col-6, .xs_col-5, .xs_col-4, .xs_col-3, .xs_col-2, .xs_col-1, .sm_col-12, .sm_col-11, .sm_col-10, .sm_col-9, .sm_col-8, .sm_col-7, .sm_col-6, .sm_col-5, .sm_col-4, .sm_col-3, .sm_col-2, .sm_col-1, .md_col-12, .md_col-11, .md_col-10, .md_col-9, .md_col-8, .md_col-7, .md_col-6, .md_col-5, .md_col-4, .md_col-3, .md_col-2, .md_col-1, .lg_col-12, .lg_col-11, .lg_col-10, .lg_col-9, .lg_col-8, .lg_col-7, .lg_col-6, .lg_col-5, .lg_col-4, .lg_col-3, .lg_col-2, .lg_col-1, .xl_col-12, .xl_col-11, .xl_col-10, .xl_col-9, .xl_col-8, .xl_col-7, .xl_col-6, .xl_col-5, .xl_col-4, .xl_col-3, .xl_col-2, .xl_col-1 {
  position: relative;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* cols' width for all screen sizes */
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  float: left;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.col-right-12 {
  left: 100%;
}

.col-left-12 {
  right: 100%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-right-11 {
  left: 91.66667%;
}

.col-left-11 {
  right: 91.66667%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-right-10 {
  left: 83.33333%;
}

.col-left-10 {
  right: 83.33333%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-right-9 {
  left: 75%;
}

.col-left-9 {
  right: 75%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-right-8 {
  left: 66.66667%;
}

.col-left-8 {
  right: 66.66667%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-right-7 {
  left: 58.33333%;
}

.col-left-7 {
  right: 58.33333%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-right-6 {
  left: 50%;
}

.col-left-6 {
  right: 50%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-right-5 {
  left: 41.66667%;
}

.col-left-5 {
  right: 41.66667%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-right-4 {
  left: 33.33333%;
}

.col-left-4 {
  right: 33.33333%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-right-3 {
  left: 25%;
}

.col-left-3 {
  right: 25%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-right-2 {
  left: 16.66667%;
}

.col-left-2 {
  right: 16.66667%;
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-right-1 {
  left: 8.33333%;
}

.col-left-1 {
  right: 8.33333%;
}

.col-reset-order {
  right: auto;
  left: auto;
}

@media (min-width: 480px) {
  .xs_col-12, .xs_col-11, .xs_col-10, .xs_col-9, .xs_col-8, .xs_col-7, .xs_col-6, .xs_col-5, .xs_col-4, .xs_col-3, .xs_col-2, .xs_col-1 {
    float: left;
  }

  .xs_col-12 {
    width: 100%;
  }

  .xs_col-offset-12 {
    margin-left: 100%;
  }

  .xs_col-right-12 {
    left: 100%;
  }

  .xs_col-left-12 {
    right: 100%;
  }

  .xs_col-11 {
    width: 91.66667%;
  }

  .xs_col-offset-11 {
    margin-left: 91.66667%;
  }

  .xs_col-right-11 {
    left: 91.66667%;
  }

  .xs_col-left-11 {
    right: 91.66667%;
  }

  .xs_col-10 {
    width: 83.33333%;
  }

  .xs_col-offset-10 {
    margin-left: 83.33333%;
  }

  .xs_col-right-10 {
    left: 83.33333%;
  }

  .xs_col-left-10 {
    right: 83.33333%;
  }

  .xs_col-9 {
    width: 75%;
  }

  .xs_col-offset-9 {
    margin-left: 75%;
  }

  .xs_col-right-9 {
    left: 75%;
  }

  .xs_col-left-9 {
    right: 75%;
  }

  .xs_col-8 {
    width: 66.66667%;
  }

  .xs_col-offset-8 {
    margin-left: 66.66667%;
  }

  .xs_col-right-8 {
    left: 66.66667%;
  }

  .xs_col-left-8 {
    right: 66.66667%;
  }

  .xs_col-7 {
    width: 58.33333%;
  }

  .xs_col-offset-7 {
    margin-left: 58.33333%;
  }

  .xs_col-right-7 {
    left: 58.33333%;
  }

  .xs_col-left-7 {
    right: 58.33333%;
  }

  .xs_col-6 {
    width: 50%;
  }

  .xs_col-offset-6 {
    margin-left: 50%;
  }

  .xs_col-right-6 {
    left: 50%;
  }

  .xs_col-left-6 {
    right: 50%;
  }

  .xs_col-5 {
    width: 41.66667%;
  }

  .xs_col-offset-5 {
    margin-left: 41.66667%;
  }

  .xs_col-right-5 {
    left: 41.66667%;
  }

  .xs_col-left-5 {
    right: 41.66667%;
  }

  .xs_col-4 {
    width: 33.33333%;
  }

  .xs_col-offset-4 {
    margin-left: 33.33333%;
  }

  .xs_col-right-4 {
    left: 33.33333%;
  }

  .xs_col-left-4 {
    right: 33.33333%;
  }

  .xs_col-3 {
    width: 25%;
  }

  .xs_col-offset-3 {
    margin-left: 25%;
  }

  .xs_col-right-3 {
    left: 25%;
  }

  .xs_col-left-3 {
    right: 25%;
  }

  .xs_col-2 {
    width: 16.66667%;
  }

  .xs_col-offset-2 {
    margin-left: 16.66667%;
  }

  .xs_col-right-2 {
    left: 16.66667%;
  }

  .xs_col-left-2 {
    right: 16.66667%;
  }

  .xs_col-1 {
    width: 8.33333%;
  }

  .xs_col-offset-1 {
    margin-left: 8.33333%;
  }

  .xs_col-right-1 {
    left: 8.33333%;
  }

  .xs_col-left-1 {
    right: 8.33333%;
  }

  .xs_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 768px) {
  .sm_col-12, .sm_col-11, .sm_col-10, .sm_col-9, .sm_col-8, .sm_col-7, .sm_col-6, .sm_col-5, .sm_col-4, .sm_col-3, .sm_col-2, .sm_col-1 {
    float: left;
  }

  .sm_col-12 {
    width: 100%;
  }

  .sm_col-offset-12 {
    margin-left: 100%;
  }

  .sm_col-right-12 {
    left: 100%;
  }

  .sm_col-left-12 {
    right: 100%;
  }

  .sm_col-11 {
    width: 91.66667%;
  }

  .sm_col-offset-11 {
    margin-left: 91.66667%;
  }

  .sm_col-right-11 {
    left: 91.66667%;
  }

  .sm_col-left-11 {
    right: 91.66667%;
  }

  .sm_col-10 {
    width: 83.33333%;
  }

  .sm_col-offset-10 {
    margin-left: 83.33333%;
  }

  .sm_col-right-10 {
    left: 83.33333%;
  }

  .sm_col-left-10 {
    right: 83.33333%;
  }

  .sm_col-9 {
    width: 75%;
  }

  .sm_col-offset-9 {
    margin-left: 75%;
  }

  .sm_col-right-9 {
    left: 75%;
  }

  .sm_col-left-9 {
    right: 75%;
  }

  .sm_col-8 {
    width: 66.66667%;
  }

  .sm_col-offset-8 {
    margin-left: 66.66667%;
  }

  .sm_col-right-8 {
    left: 66.66667%;
  }

  .sm_col-left-8 {
    right: 66.66667%;
  }

  .sm_col-7 {
    width: 58.33333%;
  }

  .sm_col-offset-7 {
    margin-left: 58.33333%;
  }

  .sm_col-right-7 {
    left: 58.33333%;
  }

  .sm_col-left-7 {
    right: 58.33333%;
  }

  .sm_col-6 {
    width: 50%;
  }

  .sm_col-offset-6 {
    margin-left: 50%;
  }

  .sm_col-right-6 {
    left: 50%;
  }

  .sm_col-left-6 {
    right: 50%;
  }

  .sm_col-5 {
    width: 41.66667%;
  }

  .sm_col-offset-5 {
    margin-left: 41.66667%;
  }

  .sm_col-right-5 {
    left: 41.66667%;
  }

  .sm_col-left-5 {
    right: 41.66667%;
  }

  .sm_col-4 {
    width: 33.33333%;
  }

  .sm_col-offset-4 {
    margin-left: 33.33333%;
  }

  .sm_col-right-4 {
    left: 33.33333%;
  }

  .sm_col-left-4 {
    right: 33.33333%;
  }

  .sm_col-3 {
    width: 25%;
  }

  .sm_col-offset-3 {
    margin-left: 25%;
  }

  .sm_col-right-3 {
    left: 25%;
  }

  .sm_col-left-3 {
    right: 25%;
  }

  .sm_col-2 {
    width: 16.66667%;
  }

  .sm_col-offset-2 {
    margin-left: 16.66667%;
  }

  .sm_col-right-2 {
    left: 16.66667%;
  }

  .sm_col-left-2 {
    right: 16.66667%;
  }

  .sm_col-1 {
    width: 8.33333%;
  }

  .sm_col-offset-1 {
    margin-left: 8.33333%;
  }

  .sm_col-right-1 {
    left: 8.33333%;
  }

  .sm_col-left-1 {
    right: 8.33333%;
  }

  .sm_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 992px) {
  .md_col-12, .md_col-11, .md_col-10, .md_col-9, .md_col-8, .md_col-7, .md_col-6, .md_col-5, .md_col-4, .md_col-3, .md_col-2, .md_col-1 {
    float: left;
  }

  .md_col-12 {
    width: 100%;
  }

  .md_col-offset-12 {
    margin-left: 100%;
  }

  .md_col-right-12 {
    left: 100%;
  }

  .md_col-left-12 {
    right: 100%;
  }

  .md_col-11 {
    width: 91.66667%;
  }

  .md_col-offset-11 {
    margin-left: 91.66667%;
  }

  .md_col-right-11 {
    left: 91.66667%;
  }

  .md_col-left-11 {
    right: 91.66667%;
  }

  .md_col-10 {
    width: 83.33333%;
  }

  .md_col-offset-10 {
    margin-left: 83.33333%;
  }

  .md_col-right-10 {
    left: 83.33333%;
  }

  .md_col-left-10 {
    right: 83.33333%;
  }

  .md_col-9 {
    width: 75%;
  }

  .md_col-offset-9 {
    margin-left: 75%;
  }

  .md_col-right-9 {
    left: 75%;
  }

  .md_col-left-9 {
    right: 75%;
  }

  .md_col-8 {
    width: 66.66667%;
  }

  .md_col-offset-8 {
    margin-left: 66.66667%;
  }

  .md_col-right-8 {
    left: 66.66667%;
  }

  .md_col-left-8 {
    right: 66.66667%;
  }

  .md_col-7 {
    width: 58.33333%;
  }

  .md_col-offset-7 {
    margin-left: 58.33333%;
  }

  .md_col-right-7 {
    left: 58.33333%;
  }

  .md_col-left-7 {
    right: 58.33333%;
  }

  .md_col-6 {
    width: 50%;
  }

  .md_col-offset-6 {
    margin-left: 50%;
  }

  .md_col-right-6 {
    left: 50%;
  }

  .md_col-left-6 {
    right: 50%;
  }

  .md_col-5 {
    width: 41.66667%;
  }

  .md_col-offset-5 {
    margin-left: 41.66667%;
  }

  .md_col-right-5 {
    left: 41.66667%;
  }

  .md_col-left-5 {
    right: 41.66667%;
  }

  .md_col-4 {
    width: 33.33333%;
  }

  .md_col-offset-4 {
    margin-left: 33.33333%;
  }

  .md_col-right-4 {
    left: 33.33333%;
  }

  .md_col-left-4 {
    right: 33.33333%;
  }

  .md_col-3 {
    width: 25%;
  }

  .md_col-offset-3 {
    margin-left: 25%;
  }

  .md_col-right-3 {
    left: 25%;
  }

  .md_col-left-3 {
    right: 25%;
  }

  .md_col-2 {
    width: 16.66667%;
  }

  .md_col-offset-2 {
    margin-left: 16.66667%;
  }

  .md_col-right-2 {
    left: 16.66667%;
  }

  .md_col-left-2 {
    right: 16.66667%;
  }

  .md_col-1 {
    width: 8.33333%;
  }

  .md_col-offset-1 {
    margin-left: 8.33333%;
  }

  .md_col-right-1 {
    left: 8.33333%;
  }

  .md_col-left-1 {
    right: 8.33333%;
  }

  .md_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .lg_col-12, .lg_col-11, .lg_col-10, .lg_col-9, .lg_col-8, .lg_col-7, .lg_col-6, .lg_col-5, .lg_col-4, .lg_col-3, .lg_col-2, .lg_col-1 {
    float: left;
  }

  .lg_col-12 {
    width: 100%;
  }

  .lg_col-offset-12 {
    margin-left: 100%;
  }

  .lg_col-right-12 {
    left: 100%;
  }

  .lg_col-left-12 {
    right: 100%;
  }

  .lg_col-11 {
    width: 91.66667%;
  }

  .lg_col-offset-11 {
    margin-left: 91.66667%;
  }

  .lg_col-right-11 {
    left: 91.66667%;
  }

  .lg_col-left-11 {
    right: 91.66667%;
  }

  .lg_col-10 {
    width: 83.33333%;
  }

  .lg_col-offset-10 {
    margin-left: 83.33333%;
  }

  .lg_col-right-10 {
    left: 83.33333%;
  }

  .lg_col-left-10 {
    right: 83.33333%;
  }

  .lg_col-9 {
    width: 75%;
  }

  .lg_col-offset-9 {
    margin-left: 75%;
  }

  .lg_col-right-9 {
    left: 75%;
  }

  .lg_col-left-9 {
    right: 75%;
  }

  .lg_col-8 {
    width: 66.66667%;
  }

  .lg_col-offset-8 {
    margin-left: 66.66667%;
  }

  .lg_col-right-8 {
    left: 66.66667%;
  }

  .lg_col-left-8 {
    right: 66.66667%;
  }

  .lg_col-7 {
    width: 58.33333%;
  }

  .lg_col-offset-7 {
    margin-left: 58.33333%;
  }

  .lg_col-right-7 {
    left: 58.33333%;
  }

  .lg_col-left-7 {
    right: 58.33333%;
  }

  .lg_col-6 {
    width: 50%;
  }

  .lg_col-offset-6 {
    margin-left: 50%;
  }

  .lg_col-right-6 {
    left: 50%;
  }

  .lg_col-left-6 {
    right: 50%;
  }

  .lg_col-5 {
    width: 41.66667%;
  }

  .lg_col-offset-5 {
    margin-left: 41.66667%;
  }

  .lg_col-right-5 {
    left: 41.66667%;
  }

  .lg_col-left-5 {
    right: 41.66667%;
  }

  .lg_col-4 {
    width: 33.33333%;
  }

  .lg_col-offset-4 {
    margin-left: 33.33333%;
  }

  .lg_col-right-4 {
    left: 33.33333%;
  }

  .lg_col-left-4 {
    right: 33.33333%;
  }

  .lg_col-3 {
    width: 25%;
  }

  .lg_col-offset-3 {
    margin-left: 25%;
  }

  .lg_col-right-3 {
    left: 25%;
  }

  .lg_col-left-3 {
    right: 25%;
  }

  .lg_col-2 {
    width: 16.66667%;
  }

  .lg_col-offset-2 {
    margin-left: 16.66667%;
  }

  .lg_col-right-2 {
    left: 16.66667%;
  }

  .lg_col-left-2 {
    right: 16.66667%;
  }

  .lg_col-1 {
    width: 8.33333%;
  }

  .lg_col-offset-1 {
    margin-left: 8.33333%;
  }

  .lg_col-right-1 {
    left: 8.33333%;
  }

  .lg_col-left-1 {
    right: 8.33333%;
  }

  .lg_col-reset-order {
    right: auto;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .xl_col-12, .xl_col-11, .xl_col-10, .xl_col-9, .xl_col-8, .xl_col-7, .xl_col-6, .xl_col-5, .xl_col-4, .xl_col-3, .xl_col-2, .xl_col-1 {
    float: left;
  }

  .xl_col-12 {
    width: 100%;
  }

  .xl_col-offset-12 {
    margin-left: 100%;
  }

  .xl_col-right-12 {
    left: 100%;
  }

  .xl_col-left-12 {
    right: 100%;
  }

  .xl_col-11 {
    width: 91.66667%;
  }

  .xl_col-offset-11 {
    margin-left: 91.66667%;
  }

  .xl_col-right-11 {
    left: 91.66667%;
  }

  .xl_col-left-11 {
    right: 91.66667%;
  }

  .xl_col-10 {
    width: 83.33333%;
  }

  .xl_col-offset-10 {
    margin-left: 83.33333%;
  }

  .xl_col-right-10 {
    left: 83.33333%;
  }

  .xl_col-left-10 {
    right: 83.33333%;
  }

  .xl_col-9 {
    width: 75%;
  }

  .xl_col-offset-9 {
    margin-left: 75%;
  }

  .xl_col-right-9 {
    left: 75%;
  }

  .xl_col-left-9 {
    right: 75%;
  }

  .xl_col-8 {
    width: 66.66667%;
  }

  .xl_col-offset-8 {
    margin-left: 66.66667%;
  }

  .xl_col-right-8 {
    left: 66.66667%;
  }

  .xl_col-left-8 {
    right: 66.66667%;
  }

  .xl_col-7 {
    width: 58.33333%;
  }

  .xl_col-offset-7 {
    margin-left: 58.33333%;
  }

  .xl_col-right-7 {
    left: 58.33333%;
  }

  .xl_col-left-7 {
    right: 58.33333%;
  }

  .xl_col-6 {
    width: 50%;
  }

  .xl_col-offset-6 {
    margin-left: 50%;
  }

  .xl_col-right-6 {
    left: 50%;
  }

  .xl_col-left-6 {
    right: 50%;
  }

  .xl_col-5 {
    width: 41.66667%;
  }

  .xl_col-offset-5 {
    margin-left: 41.66667%;
  }

  .xl_col-right-5 {
    left: 41.66667%;
  }

  .xl_col-left-5 {
    right: 41.66667%;
  }

  .xl_col-4 {
    width: 33.33333%;
  }

  .xl_col-offset-4 {
    margin-left: 33.33333%;
  }

  .xl_col-right-4 {
    left: 33.33333%;
  }

  .xl_col-left-4 {
    right: 33.33333%;
  }

  .xl_col-3 {
    width: 25%;
  }

  .xl_col-offset-3 {
    margin-left: 25%;
  }

  .xl_col-right-3 {
    left: 25%;
  }

  .xl_col-left-3 {
    right: 25%;
  }

  .xl_col-2 {
    width: 16.66667%;
  }

  .xl_col-offset-2 {
    margin-left: 16.66667%;
  }

  .xl_col-right-2 {
    left: 16.66667%;
  }

  .xl_col-left-2 {
    right: 16.66667%;
  }

  .xl_col-1 {
    width: 8.33333%;
  }

  .xl_col-offset-1 {
    margin-left: 8.33333%;
  }

  .xl_col-right-1 {
    left: 8.33333%;
  }

  .xl_col-left-1 {
    right: 8.33333%;
  }

  .xl_col-reset-order {
    right: auto;
    left: auto;
  }
}
