/*********************************************** 
    Grid system
***********************************************/

//  Include local config
/////////////////////////////////////////////////
@import 'config';

//  Mixins
/////////////////////////////////////////////////
@import 'grid-mixins';

/* Grid wrapper
***********************************************/
.grid, 
.grid-fluid {
  @include create-grid();
}

@if $grid-fluid-max-width != 100% and $grid-fluid-max-width != '100%' {
  /* Maximum width for fluid grid wrapper */
  .grid-fluid {
    max-width: $grid-fluid-max-width;
  }
}

/* Responsive styles for grid wrapper */
@each $breakpoint, $grid-width in $viewport-grid-sizes {

  @if $grid_width != '100%' {
    @media (min-width: #{map-get($grid_viewport-breakpoints, $breakpoint)}) {
      .grid {
        width: $grid_width; 
      }
    }
  }
}

/* Grid rows
***********************************************/
.row {
  @include create-row();
}

/* Grid row features
***********************************************/

// collapse row feature
@if $grid_feature_row-collapsed == true {
  /* Collapse row feature */
  .row-collapse {
    @include create-row-collapse();
  }
}

// different gutter row feature
@if $grid_feature_different-gutters == true {
  /* Different gutter row feature */
  @each $gutter, $gutter-width in $grid_gutters {
    .row-gutter-#{$gutter} {
      @include create-row-gutter($gutter-width);
    }
  }

  // reset gutter
  .row-gutter-reset {
    @include create-row-gutter-reset();
  }
}

// vertical gutter row feature
@if $grid_feature_vertical-gutters == true {
  /* Vertical gutter row feature */
  @each $gutter, $gutter-width in $grid_gutters {
    .row-vertical-gutter-#{$gutter} { 
      @include create-row-vertical-gutter($gutter-width);
    }
  }
}

/* Horizontal columns alignment in rows */
@if $grid_feature_horizontal-alignment == true {

  .row-centered,
  .row-justified {
    @include create-row-flexbox();
  }

  .row-centered {
    @include create-row-centered(false);
  }

  .row-justified {
    @include create-row-justified(false);
  }
}

/* Vertical columns alignment in rows */
@if $grid_feature_vertical-alignment == true {
  .row-valign-top,
  .row-valign-bottom,
  .row-valign-middle,
  .row-valign-stretch {
    @include create-row-flexbox();
  }
   
  .row-valign-top {
    @include create-row-valign-top(false);
  }

  .row-valign-bottom {
    @include create-row-valign-bottom(false);
  }

  .row-valign-middle {
    @include create-row-valign-middle(false);
  }

  .row-valign-stretch {
    @include create-row-valign-stretch(false);
  }
}

/* Responsive grid row features
***********************************************/
@if $grid_feature_responsive == true {
  @each $breakpoint, $breakpoint-width in $grid_viewport-breakpoints {
    // exclude the smallest devices
    @if $breakpoint != 'mc' {
      $breakpoint-prefix: $breakpoint + '_';
      @media (min-width: $breakpoint-width) {

        // collapse row feature
        @if $grid_feature_row-collapsed == true {
          .#{$breakpoint-prefix}row-collapse {
            @include create-row-collapse();
          }
        }

        // different gutter row feature
        @if $grid_feature_different-gutters == true {
          @each $gutter, $gutter-width in $grid_gutters {
            .#{$breakpoint-prefix}row-gutter-#{$gutter} {
              @include create-row-gutter($gutter-width);
            }
          }

          // reset gutter
          .#{$breakpoint-prefix}row-gutter-reset {
            @include create-row-gutter-reset();
          }
        }

        // vertical gutter row feature
        @if $grid_feature_vertical-gutters == true {
          @each $gutter, $gutter-width in $grid_gutters {
            .#{$breakpoint-prefix}row-vertical-gutter-#{$gutter} { 
              @include create-row-vertical-gutter($gutter-width);
            }
          }
        }

      }
    }
  }
}

/* Grid columns
***********************************************/

/* common column settings */
#{$all-cols-selector} {
  @include add-col-styles();
}

/* Grid column features
***********************************************/

/* cols' width for all screen sizes */
@if $grid_feature_responsive == true {
  @each $breakpoint, $breakpoint-width in $grid_viewport-breakpoints {
    @include create-cols-for-breakpoint($breakpoint, $breakpoint-width);
  }
} @else {
  @include create-cols-for-breakpoint('mc', map-get($grid_viewport-breakpoints, 'mc'));
}