/*********************************************** 
    Grid system
***********************************************/

//  Include local config
/////////////////////////////////////////////////
@import 'config';

//  Mixins
/////////////////////////////////////////////////
@import 'grid-mixins';

/* Grid wrapper
***********************************************/
.grid, 
.grid-fluid,
.content,
.content-fluid {
  @include create_grid();
}

/* Grid rows
***********************************************/
.row {
  @include create_row();
}

/* Grid row features
***********************************************/

// collapse row feature
@if $grid_feature_row-collapsed == true {
  /* Collapse row feature */
  .row-collapse {
    @include create_row_collapse();
  }
}

// different gutter row feature
@if $grid_feature_different-gutters == true {
  /* Different gutter row feature */
  @each $gutter, $gutter-width in $grid_gutters {
    .row-gutter-#{$gutter} {
      @include create_row_gutter($gutter-width);
    }
  }

  // reset gutter
  .row-gutter-reset {
    @include create_row_gutter-reset();
  }
}

// vertical gutter row feature
@if $grid_feature_vertical-gutters == true {
  /* Vertical gutter row feature */
  @each $gutter, $gutter-width in $grid_gutters {
    .row-vertical-gutter-#{$gutter} { 
      @include create_row_vertical-gutter($gutter-width);
    }
  }
}

/* Horizontal columns alignment in rows */
@if $grid_feature_horizontal-alignment == true {

  .row-centered,
  .row-justified {
    @include create_row_flexbox();
  }

  .row-centered {
    @include create_row_centered(false);
  }

  .row-justified {
    @include create_row_justified(false);
  }
}

/* Vertical columns alignment in rows */
@if $grid_feature_vertical-alignment == true {
  .row-valign-top,
  .row-valign-bottom,
  .row-valign-middle,
  .row-valign-stretch {
    @include create_row_flexbox();
  }
   
  .row-valign-top {
    @include create_row_valign-top(false);
  }

  .row-valign-bottom {
    @include create_row_valign-bottom(false);
  }

  .row-valign-middle {
    @include create_row_valign-middle(false);
  }

  .row-valign-stretch {
    @include create_row_valign-stretch(false);
  }
}

/* Responsive grid row features
***********************************************/
@if $grid_feature_responsive == true {
  @each $breakpoint, $breakpoint-width in $grid_viewport_breakpoints {
    // exclude the smallest devices
    @if $breakpoint != 'mc' {
      $breakpoint-prefix: $breakpoint + '_';
      @media (min-width: $breakpoint-width) {

        // collapse row feature
        @if $grid_feature_row-collapsed == true {
          .#{$breakpoint-prefix}row-collapse {
            @include create_row_collapse();
          }
        }

        // different gutter row feature
        @if $grid_feature_different-gutters == true {
          @each $gutter, $gutter-width in $grid_gutters {
            .#{$breakpoint-prefix}row-gutter-#{$gutter} {
              @include create_row_gutter($gutter-width);
            }
          }

          // reset gutter
          .#{$breakpoint-prefix}row-gutter-reset {
            @include create_row_gutter-reset();
          }
        }

        // vertical gutter row feature
        @if $grid_feature_vertical-gutters == true {
          @each $gutter, $gutter-width in $grid_gutters {
            .#{$breakpoint-prefix}row-vertical-gutter-#{$gutter} { 
              @include create_row_vertical-gutter($gutter-width);
            }
          }
        }

      }
    }
  }
}

/* Grid columns
***********************************************/

/* common column settings */
#{$all-cols-selector} {
  @include add_col_styles();
}

/* Grid column features
***********************************************/

/* cols' width for all screen sizes */
@if $grid_feature_responsive == true {
  @each $breakpoint, $breakpoint-width in $grid_viewport_breakpoints {
    @include create_cols-for-breakpoint($breakpoint, $breakpoint-width);
  }
} @else {
  @include create_cols-for-breakpoint('mc', map-get($grid_viewport_breakpoints, 'mc'));
}