/////////////////////////////////////////////////
//  Checkbox and radio mixins
/////////////////////////////////////////////////

// Add common text input styles
@mixin add_checkbox-radio_styles($type, $size) {
  
  $label_height: $checkbox_font-size * $base_line-height;

  display: inline-block;
  min-height: $size;
  padding-left: $size * 1.5;
  @if $size > $label_height {
    padding-top: ($size - $label_height) / 2
  }

  input[type=#{$type}] {
    position: absolute;
    visibility: hidden;
  }

  input[type=#{$type}] + span {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: $checkbox_font-size;
  }

  input[type=#{$type}] + span:before {
    content: '';
    display: block;
    width: $size;
    height: $size;
    box-sizing: border-box;
    position: absolute;
    top: round(($base_font-size * $base_line-height - $size) / 2);
    left: round(- $size * 1.5);
    border: $checkbox_border-width solid;
  }

  input[type=#{$type}] + span:after {
    content: '';
    display: none;
    position: absolute;
  }

  input[type=#{$type}]:checked + span:after {
    display: block;
  }
  
  &:hover {
    input[type=#{$type}]:not(:checked) + span:after {
      display: block;
    }
  }
}

//  Default checkbox mixin
/////////////////////////////////////////////////
@mixin create_checkbox($size, $background, $border, $border-hover, $inner) {
  @include add_checkbox-radio_styles('checkbox', $size); // add common styles
  
  input[type=checkbox] + span:before {
    border-radius: $checkbox_border-radius;
    border-color: $border;
  }

  input[type=checkbox] + span:after {
    width: $size * 0.4;
    height: $size * 0.2;
    top: round(($base_font-size * $base_line-height - $size) / 2 + $size * 0.25);
    left: round(- $size * 1.5 + $size * 0.25);
    transform-origin: center;
    transform: rotate(-45deg);
    border-bottom: round($size * 0.1) solid $inner;
    border-left: round($size * 0.1) solid $inner;
  }

  input[type=checkbox].error + span:before {
    border-color: $inputs_color_danger;
  }
  
  &:hover,
  &:focus {
    input[type=checkbox]:not(:checked) + span:after {
      border-color: mix($inner, $background, 50%);
    }
  }
}

//  Default radio mixin
/////////////////////////////////////////////////
@mixin create_radio($size, $background, $border, $border-hover, $inner) {
  @include add_checkbox-radio_styles('radio', $size); // add common styles
  
  input[type=radio] + span:before {
    border-radius: 100%;
    border-color: $border;
  }

  input[type=radio] + span:after {

    $position_offset: round($size / 4);
    $top: round(($base_font-size * $base_line-height - $size) / 2) + $position_offset;
    $inner_size: $size - round($size / 4)*2;

    width: $inner_size;
    height: $inner_size;

    top: $top;
    left: round(- $size * 1.5) + $position_offset;
    border-radius: 100%;
    background-color: $inner;
  }

  input[type=radio].error + span:before {
    border-color: $inputs_color_danger;
  }
  
  &:hover,
  &:focus {
    input[type=radio]:not(:checked) + span:after {
      background-color: mix($inner, $background, 50%);
    }
  }
}