/////////////////////////////////////////////////
//  Global config
/////////////////////////////////////////////////

//  Interface grid and base sizes
/////////////////////////////////////////////////
$unit: 4px;
$base_font-size: 16px;
$base_line-height: 1.5;
$base_font-family: 'Open Sans', 'Helvetica', 'Verdana', 'Arial', sans-serif;

//  Indentetions set
/////////////////////////////////////////////////
$indent-mc: $unit;
$indent-xs: 3 * $unit;
$indent-sm: 6 * $unit;
$indent-md: 9 * $unit;
$indent-lg: 12 * $unit;
$indent-xl: 15 * $unit;
$indent-gn: 18 * $unit;
$indent-hg: 30 * $unit;

//  Color config
/////////////////////////////////////////////////

//  design color palette
$color_base: #fff; // base theme background color                                                                   
$color_contrast: #0d0d0d; // contrast to base theme background color                                                                   
$color_brand: #ff981a; // special brand theme color                                                                   
$color_info: #6EB7C2; // information status color                                                                   
$color_success: #3DCC80; // success status color                                                                   
$color_warning: #FFE74D; // warning status color                                                                   
$color_danger: #E21F1E; // danger/error status color                                                                   

//  light palette
$palette_light: (
  background: $color_base,
  background-border: #ccc,
  text: $color_contrast,
  text-secondary: #bbb,
  action-default: $color_brand,
  action-secondary: $color_contrast,
  action-info: $color_info,
  action-success: $color_success,
  action-warning: $color_warning,
  action-danger: $color_danger
);

//  dark palette
$palette_dark: (
  background: $color_contrast,
  background-border: #aaa,
  text: $color_base,
  text-secondary: #eee,
  action-default: $color_brand,
  action-secondary: $color_base,
  action-info: $color_info,
  action-success: $color_success,
  action-warning: $color_warning,
  action-danger: $color_danger
);

//  example custom palette
$palette_hipster: (
  background: $color_base,
  background-border: #aaa,
  text: #252A34,
  text-secondary: #eee,
  action-default: #5F397A,
  action-secondary: #252A34,
  action-info: #408C82,
  action-success: #668C46,
  action-warning: #CF8B4F,
  action-danger: #9A2C38
);

//  global palette
$palette_global: $palette_light;

//  Media queries breakpoint
/////////////////////////////////////////////////

//  microscopic devices
$viewport_mc: 0;
$viewport_sm-phone: $viewport_mc;

//  extra small devices
$viewport_xs: 480px;
$viewport_phone: $viewport_xs;

//  small devices
$viewport_sm: 768px;
$viewport_tablet: $viewport_sm;

//  medium devices
$viewport_md: 992px;
$viewport_desktop: $viewport_md;

//  large devices
$viewport_lg: 1200px;
$viewport_lg-desktop: $viewport_lg;

//  extra large devices
$viewport_xl: 1440px;
$viewport_xl-desktop: $viewport_xl;
$viewport_breakpoints: (
  mc: $viewport_mc,
  xs: $viewport_xs,
  sm: $viewport_sm,
  md: $viewport_md,
  lg: $viewport_lg,
  xl: $viewport_xl
);
$viewport_breakpoints_max: (
  mc: $viewport_xs - 1,
  xs: $viewport_sm - 1,
  sm: $viewport_md - 1,
  md: $viewport_lg - 1,
  lg: $viewport_xl - 1,
  xl: false
);

//  Layout
/////////////////////////////////////////////////
$viewport_content-sizes: (
  mc: '100%',
  xs: '100%',
  sm: 750px,
  md: 970px,
  lg: 1120px,
  xl: 1280px
);
$content-fluid_max-width: 1280px;

//  Grid
/////////////////////////////////////////////////

//  Grid features (set true to include and false to exclude)
$grid_feature_responsive: true;
$grid_feature_offset: true;
$grid_feature_columns-order: true;
$grid_feature_row-collapsed: true;
$grid_feature_different-gutters: true;
$grid_feature_vertical-gutters: true;
$grid_feature_horizontal-alignment: true;
$grid_feature_vertical-alignment: true;

//  Grid settings
$grid_cols: 12;
$grid_gutter: 6 * $unit;
$grid_gutters: (
  0: 0,
  3u: 3 * $unit,
  6u: 6 * $unit,
  9u: 9 * $unit,
  12u: 12 * $unit,
  15u: 15 * $unit,
  18u: 18 * $unit
);

//  Inputs
/////////////////////////////////////////////////

//  Defaul size settings
$inputs_height: 9 * $unit;
$inputs_padding-horizontal: $inputs_height * 0.35;
$text-input_font-size: 14px;
$text-input_border-radius: 0;
$button_font-size: 14px;
$button_border-radius: 0;

//  Extra small size settings 
$inputs_height_xs: 6 * $unit;
$inputs_padding-horizontal_xs: $inputs_height_xs * 0.35;
$text-input_font-size_xs: 11px;
$text-input_border-radius_xs: 0;
$button_font-size_xs: 11px;
$button_border-radius_xs: 0;

//  Small size settings
$inputs_height_sm: 8 * $unit;
$inputs_padding-horizontal_sm: $inputs_height_sm * 0.35;
$text-input_font-size_sm: 12px;
$text-input_border-radius_sm: 0;
$button_font-size_sm: 12px;
$button_border-radius_sm: 0;

//  Large size settings
$inputs_height_lg: 12 * $unit;
$inputs_padding-horizontal_lg: $inputs_height_lg * 0.35;
$text-input_font-size_lg: 16px;
$text-input_border-radius_lg: 0;
$button_font-size_lg: 16px;
$button_border-radius_lg: 0;

//  Common colour settings
$inputs_color_background: get-color(background);
$inputs_color_border: get-color(background-border);
$inputs_color_foreground: get-color(text);
$inputs_color_button-text: #fff;
$inputs_color_primary: get-color(action-default);
$inputs_color_secondary: get-color(action-secondary);
$inputs_color_info: get-color(action-info);
$inputs_color_success: get-color(action-success);
$inputs_color_warning: get-color(action-warning);
$inputs_color_danger: get-color(action-danger);

//  Buttons
$button_font-weight: normal;
$button_flat_border-width: 1px;
$button_outline_border-width: 2px;
$button_gradient_border-width: 1px;

//  Button types (set true to include and false to exclude)
$button_flat: true;
$button_outline: true;
$button_3d: true;
$button_gradient: true;

//  Text inputs
$text-input_font-weight: normal;
$text-input_text-align: left;
$text-input_border-width: 2px;

//  Text input types (set true to include and false to exclude)
$text-input_default: true;

//  Checkbox and radio
$checkbox_size: 20px;
$checkbox_border-width: 2px;
$checkbox_border-radius: 2px;
$checkbox_label-font-size: $base_font-size;
$checkbox_label-line-height: $base_line-height;

//  Checkbox and radio types (set true to include and false to exclude)
$checkbox_default: true;
$checkbox_filled: true;

//  Switch
$switch_width: 50px;
$switch_height: 30px;
$switch_border-width: 1px;
$switch_border-color: transparent;

//  Switch styles
$switch_default: true;
$switch_doted: true;
$switch_ios: true;

//  Input group features (set true to include and false to exclude)
$input-group_feature_collapse: true;

//  Input group appendix
$input-group_appendix_color_background: lighten($inputs_color_border, 10%);
$input-group_appendix_color_border: $inputs_color_border;
$input-group_appendix_color_text: $inputs_color_foreground;

//  Typography
/////////////////////////////////////////////////

//  Text big and small modifiers coefficient
$typography_small_coef: .85;
$typography_big_coef: 1.15;

//  Heading 1 text settings
$h1_font-family: $base_font-family;
$h1_font-size: 4.8rem;
$h1_line-height: 100%;
$h1_font-style: normal;
$h1_font-weight: normal;
$h1_letter-spacing: 0;

//  Heading 2 text settings
$h2_font-family: $base_font-family;
$h2_font-size: 3.2rem;
$h2_line-height: 112.5%;
$h2_font-style: normal;
$h2_font-weight: bold;
$h2_letter-spacing: 0.1rem;

//  Heading 3 text settings
$h3_font-family: $base_font-family;
$h3_font-size: 2.4rem;
$h3_line-height: 125%;
$h3_font-style: normal;
$h3_font-weight: normal;
$h3_letter-spacing: 0;

//  Heading 4 text settings
$h4_font-family: $base_font-family;
$h4_font-size: $base_font-size;
$h4_line-height: $base_line-height;
$h4_font-style: normal;
$h4_font-weight: bold;
$h4_letter-spacing: 0;

//  Heading 5 text settings
$h5_font-family: $base_font-family;
$h5_font-size: 14px;
$h5_line-height: 125%;
$h5_font-style: normal;
$h5_font-weight: bold;
$h5_letter-spacing: 0;

//  Heading 6 text settings
$h6_font-family: $base_font-family;
$h6_font-size: 12px;
$h6_line-height: 125%;
$h6_font-style: normal;
$h6_font-weight: bold;
$h6_letter-spacing: 0;

//  Paragraph text settings
$p_font-family: $base_font-family;
$p_font-size: $base_font-size;
$p_line-height: $base_line-height;
$p_font-style: normal;
$p_font-weight: normal;
$p_letter-spacing: 0;

//  Large paragraph text settings
$p-lg_font-family: $base_font-family;
$p-lg_font-size: 2.4rem;
$p-lg_line-height: 125%;
$p-lg_font-style: normal;
$p-lg_font-weight: normal;
$p-lg_letter-spacing: 0;

//  Small paragraph text settings
$p-sm_font-family: $base_font-family;
$p-sm_font-size: 12px;
$p-sm_line-height: 133%;
$p-sm_font-style: normal;
$p-sm_font-weight: normal;
$p-sm_letter-spacing: 0;

//  Caption text settings
$caption_font-family: $base_font-family;
$caption_font-size: 12px;
$caption_line-height: 133%;
$caption_font-style: italic;
$caption_font-weight: normal;
$caption_letter-spacing: 0;

//  Mark styles
$mark_padding-vertical: 2px;
$mark_padding-horizontal: 3px;
$mark_color-background: mix( get-color(action-warning), get-color(background), 25% );
$mark_color-text: get-color(text);

//  Code and pre styles
$code_padding-vertical: 2px;
$code_padding-horizontal: 3px;
$code_color-background: mix( get-color(background-border), get-color(background), 25% );
$code_color-text: get-color(action-danger);
$pre_padding-vertical: 5 * $unit;
$pre_padding-horizontal: 6 * $unit;
$pre_color-border: get-color(background-border);
$pre_border-width: 1px;

//  Blockquote
$blockquote_padding-vertical: 5 * $unit;
$blockquote_padding-horizontal: 6 * $unit;
$blockquote_color-background: transparent;
$blockquote_color-border: get-color(action-default);
$blockquote_border-width: $unit;
$blockquote_quotes_quotes-color: get-color(text);
$blockquote_quotes_quotes-size: 30 * $unit;

//  Lists
$list_padding-left: 6 * $unit;
$list_bullet_color: get-color(action-default);
$list_bullet_opacity: 1;

//  Tables
$table_head_font-size: 12px;
$table_head_line-height: 145%;
$table_head_font-style: normal;
$table_head_font-weight: 700;
$table_head_letter-spacing: 1px;
$table_head_text-align: left;
$table_head_border-bottom-width: 2px; 
$table_body_font-size: 14px;
$table_body_line-height: 142%;
$table_body_font-style: normal;
$table_body_font-weight: normal;
$table_body_letter-spacing: 0;
$table_body_text-align: left;
$table_padding-horizontal: 3 * $unit;
$table_padding-vertical: 2 * $unit;
$table_border-width: 1px;
$table_color-border: get-color(background-border);
$table_stripe-border: mix( get-color(background-border), get-color(background), 25% );