/* Layout browser style reset
***********************************************/

/* Prevent text size adjustment */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * - Reset 'body' margins
 * - Set common 'line-height' for 'body'
 * - Set better font rendering for webkit and firefox on Mac
 */
body {
  margin: 0;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Set box-sizing 'border-box' by default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
}

/* Set display 'block' to html5 elements and 'inline-block' for media elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */
audio,
canvas,
iframe,
progress,
img,
svg,
video {
  vertical-align: middle;
}

/* Reset elements margins and padings */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Remove default list style */
ol, 
ul {
  list-style: none;
}

li {
  display: block;
}

/** 
 * - Make 'img' to respect container borders 
 * - Remove border from 'img' in link in IE 8-10
 */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/** 
 * - Remove 'text-decoration' from links 
 * - Remove the gray background color from active links in IE 10
 */
a {
  text-decoration: none;
  background-color: transparent;
}

/* Transition for user action elements */
a, 
input,
button,
select,
textarea {
  transition: .3s;

  &:hover,
  &:active,
  &:focus {
    transition: .1s;
  }
}

/**
 * - Prevent modern browsers from displaying 'audio' without controls
 * - Remove excess height in iOS 5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * - Address [hidden] styling not present in IE 8-10
 * - Hide the 'template' element in IE 8-11, Safari and Firefox < 22
 */
[hidden],
template {
  display: none;
}

/* Set bold font weight for all browsers */
b,
strong {
  font-weight: bold;
}

/* Set font size for 'small' element */
small {
  font-size: 80%;
}

/* Prevent 'sub' and 'sup' affecting 'line-height' in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Reset 'blockquote' appereance */
blockquote, 
q {
  quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
  content: '';
  content: none;
}

/* Remove pseudo element in buttons in Firefox */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/** 
 * Remove ugly outline from focused elements, 
 * don't remember to add your own focus styles 
 */
:active:focus,
:hover:focus {
  outline: 0;
}

/* Correct overflow not hidden in IE 9-11 */
svg:not(:root) {
  overflow: hidden;
}

/* Normalize 'hr' appereance */
hr {
  height: 0;
}

/* Contain overflow in all browsers */
pre {
  overflow: auto;
}

/* Address odd 'em'-unit font size rendering in all browsers */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * - Correct color not being inherited
 * - Correct font properties not being inherited
 * - Address margins set differently in Firefox 4+, Safari, and Chrome
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* Address 'overflow' set to 'hidden' in IE 8-11 */

button {
  overflow: visible;
}

/**
 * - Address inconsistent 'text-transform' inheritance for 'button' and 'select'.
 * - All other form control elements do not inherit 'text-transform' values.
 * - Correct 'button' style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * - Correct 'select' style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/** 
 * - Correct inability to style clickable 'input' types in iOS
 * - Set pointer cursor appearance for buttons
 * - Disable user selection of text 
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  user-select: none;
}

/* Default cursor for disabled elements */
[disabled] {
  cursor: default;
}

/* Address Firefox 4+ setting 'line-height' on 'input' using '!important' in the UA stylesheet */
input {
  line-height: normal;
}

/* Remove excess padding in IE 8-10 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/** 
 * Fix the cursor style for Chrome's increment/decrement buttons.
 * For certain
 * - 'font-size' values of the 'input', it causes the cursor style of the
 * - decrement button to change from 'default' to 'text'
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * - Address 'appearance' set to 'searchfield' in Safari and Chrome
 */
input[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has padding (and 'textfield' appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * - Correct 'color' not being inherited in IE 8-11
 * - Remove padding so people aren't caught out if they zero out fieldsets
 */
legend {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE 8-11 */
textarea {
  overflow: auto;
}

/** 
 * Don't inherit the 'font-weight' (applied by a rule above)
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X
 */
optgroup {
  font-weight: bold;
}

/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
